@charset "UTF-8";
.single-product-main-content {
  margin: 20px 0;
}
@media only screen and (min-width: 768px) {
  .single-product-main-content {
    margin: 75px 0;
  }
}
.single-product-main-content .layout {
  max-width: calc(100% - 20px);
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .single-product-main-content .layout {
    max-width: 1200px;
  }
}
.single-product-main-content .layout .single-product-page {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .single-product-main-content .layout .single-product-page {
    flex-direction: row;
  }
}
.single-product-main-content .layout .single-product-page .left {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
}
@media only screen and (min-width: 768px) {
  .single-product-main-content .layout .single-product-page .left {
    width: 600px;
    height: 600px;
  }
}
.single-product-main-content .layout .single-product-page .left img {
  width: 100%;
  display: block;
}
.single-product-main-content .layout .single-product-page .right {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
@media only screen and (min-width: 768px) {
  .single-product-main-content .layout .single-product-page .right {
    padding: 0 35px;
  }
}
.single-product-main-content .layout .single-product-page .right .name {
  font-size: 35px;
  line-height: 28px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .single-product-main-content .layout .single-product-page .right .name {
    font-size: 24px;
    line-height: 32px;
  }
}
.single-product-main-content .layout .single-product-page .right .price {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
.single-product-main-content .layout .single-product-page .right .desc {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  color: #6b6b6b;
}
@media only screen and (min-width: 768px) {
  .single-product-main-content .layout .single-product-page .right .desc {
    font-size: 16px;
    line-height: 24px;
  }
}
.single-product-main-content .layout .single-product-page .right .cart-buttons {
  display: flex;
}
@media only screen and (min-width: 768px) {
  .single-product-main-content .layout .single-product-page .right .cart-buttons {
    margin-top: 30px;
  }
}
.single-product-main-content .layout .single-product-page .right .cart-buttons .quanlity-buttons {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  height: 50px;
}
.single-product-main-content .layout .single-product-page .right .cart-buttons .quanlity-buttons span {
  font-size: 18px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #6b6b6b;
}
.single-product-main-content .layout .single-product-page .right .cart-buttons .quanlity-buttons span:nth-child(1) {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}
.single-product-main-content .layout .single-product-page .right .cart-buttons .quanlity-buttons span:nth-child(2) {
  width: 60px;
}
.single-product-main-content .layout .single-product-page .right .cart-buttons .quanlity-buttons span:nth-child(3) {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}
.single-product-main-content .layout .single-product-page .right .cart-buttons .add-to-cart {
  outline: 0;
  border: 0;
  gap: 5px;
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background: #8e2;
  border-bottom: 3px solid #8e2;
  flex-grow: 1;
}
@media only screen and (min-width: 768px) {
  .single-product-main-content .layout .single-product-page .right .cart-buttons .add-to-cart {
    flex-grow: unset;
  }
}
.single-product-main-content .layout .single-product-page .right .divider {
  margin: 20px 0;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.single-product-main-content .layout .single-product-page .right .info-item .text-bold {
  font-size: 24px;
  font-weight: 500;
  display: block;
}
.single-product-main-content .layout .single-product-page .right .info-item .text-bold:nth-child(1) {
  margin-bottom: 20px;
}
.single-product-main-content .layout .single-product-page .right .info-item .text-bold span {
  font-size: 19px;
  font-weight: 400;
  cursor: pointer;
  color: #6b6b6b;
}
.single-product-main-content .layout .single-product-page .right .info-item .text-bold svg {
  margin: 0 5px;
}

.success-boxx {
  /*Địnhnghĩakiểuhiểnthịchobảngsuccess*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20%;
  opacity: 0.8;
  left: 88%;
  transform: translate(-50%, -60%);
  width: 300px;
  height: 80px;
  background-color: whitesmoke;
  border: 1px solid #000000;
  border-radius: 8px;
  /*Thêmhiệuứnghoạthìnhchobảngsuccess*/
  animation-name: successAnimation;
  animation-duration: 0s;
  animation-timing-function: ease-in-out;
  -webkit-transform: translate(-50%, -60%);
  -moz-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  -o-transform: translate(-50%, -60%);
}

.success-text {
  /* Định nghĩa kiểu hiển thị cho văn bản trong bảng success */
  text-align: center;
  font-size: 27px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@keyframes successAnimation {
  0% {
    transform: scale(0.5);
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
.tick-icon {
  /* Định nghĩa kiểu hiển thị cho biểu tượng dấu tick */
  margin-right: 10px;
  color: #00cc00;
  font-size: 54px;
  animation-name: tickAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes tickAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}/*# sourceMappingURL=SingleProduct.css.map */